 {{#each movies}}
  <div class='movieItem'>
    <h2>{{Title}}<h2> <h3>({{Year}})</h3>
    <p>{{Actors}}</p>
    <input type='button' value='save' class='delete'>
    <input type='button' value='add to watched list' class='delete'>
  </div>
  {{/each}}
